# Tuples  - Similar to Lists , BUT , Immutable

- **Create** 
- **Access**
- **Modify/Update** - NOT POSSIBLE

### Create

In [1]:
t1 = () # implicit call
t2 = tuple() # explicit call

In [2]:
type(t1)

tuple

### Access

In [3]:
t1 = (1,2,3,4,5)
t1[2:]

(3, 4, 5)

# Modify / Update - not possible

In [4]:
print("CAN'T CHANGE VALUE")
t1[2] = 33

CAN'T CHANGE VALUE

TypeError: 'tuple' object does not support item assignment

In [5]:
t1 = list(t1)
t1[2] = 33
t1 = tuple(t1)

In [6]:
t1

(1, 2, 33, 4, 5)

In [7]:
id(t1)

1563167962752

# Tuple Methods

- count()
- index()

In [8]:
t1.index(33)

2

In [9]:
t2 = (2,2,2,2,2,3,4)
t2.count(2)

5

## Task - 1

- Create a multi value tuple : t1 = (1,2,3,3,3,5,6,88,91)
- Find the Count of 3
- Find the Index of 2
- Find the Minimum , Maximum and Length of the Tuple
- Display the first 3 elements from the tuple
- Append a Value to the Tuple using any strategy that you know of
- Print the IDS of the tuple objects when you make the changes

In [10]:
a = (1,2,3,3,3,5,6,88,91) 

print(id(a)) 

print(a.count(3)) 

print(a.index(2))

print(a[0:3]) 
print(max(a))
print(min(a))
print(len(a))

# Append Part 
print(id(a))
a = list(a)
print(id(a))
a.append(4)
a = tuple(a)
print(id(a))

1563134974992
3
1
(1, 2, 3)
91
1
9
1563134974992
1563169744384
1563169531584

# Sets : Collection of unique objects

### Create

In [11]:
s1 = {1,}  # default it becomes a dictionary
s2 = set()

print(type(s1))
print(type(s2))

<class 'set'>
<class 'set'>

In [12]:
s1 = {1,1,1,1,1,1,1,1,1.000001}
s1

{1, 1.000001}

### Access : Existence or Non- Existence

In [13]:
1 in s1

True

In [14]:
s2 = {'ARB1010', 'ARB1011', 'ARB1012'}

In [15]:
'ARB1013' in s2

False

### Update

In [16]:
s1.add(100)
s1

{1, 1.000001, 100}

In [17]:
s1.update([200,3000])

In [18]:
s1

{1, 1.000001, 100, 200, 3000}

In [19]:
s1.remove(1)

In [20]:
s1

{1.000001, 100, 200, 3000}

In [21]:
s1.clear()

In [22]:
s1

set()

## Methods 

- add()
- clear()
- update() - to add multiple elements
- remove()
- issubset() 
- issuperset()

### Other Operations

- union()
- intersection()
- difference()

In [23]:
s1 = {1,2}

In [24]:
s1.add(3)

In [25]:
s1.update([2,3,4]) # can't pass like 1,2,3 -- have to pass as list or tuple

In [26]:
s1

{1, 2, 3, 4}

In [27]:
s1.remove(4)

In [28]:
s1

{1, 2, 3}

In [29]:
# customers_based_on_transaction = {1,2,3}
# customers_based_on_offers = {3,4,5}

In [30]:
# Super set - 
# Subset -

In [31]:
s1 = {1,2,3,7}
s2 = {1,2,3,4,5,6}
# s1 is a subset of s2
# s2 is a superset of s1

In [32]:
s1.issubset(s2)

False

In [33]:
s1.intersection(s2)

{1, 2, 3}

In [34]:
len(s1.intersection(s2))/len(s1)

0.75

In [35]:
s2.issuperset(s1)

False

In [36]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

In [37]:
s2.issubset(s1)

True

In [38]:
s1.issuperset(s2)

True

In [39]:
s2

{1, 2, 3}

In [40]:
s1

{1, 2, 3, 4, 5}

In [41]:
#set - union - any data type (iterable)
s1.union((4,5,6))

{1, 2, 3, 4, 5, 6}

In [42]:
s1

{1, 2, 3, 4, 5}

In [43]:
s2

{1, 2, 3}

In [48]:
s1.intersection(s2)

{1, 2, 3}

In [49]:
s1.difference(s2)

{4, 5}

In [50]:
s3 = {7,8,9}

In [51]:
s1.union(s2).union(s3)

{1, 2, 3, 4, 5, 7, 8, 9}

In [52]:
s1.intersection(s2).intersection(s3)

set()

In [53]:
s1.difference(s2)

{4, 5}

In [54]:
s1

{1, 2, 3, 4, 5}

In [55]:
s2

{1, 2, 3}

In [56]:
s11 = {1,2,3,4,5}
s12 = {1,2,3,4,6,7,8,9}

In [57]:
print(s12.difference(s11)) 
print(s11.difference(s12))

{8, 9, 6, 7}
{5}

## Task
- Let's create 3 Sets with some dummy values
- Add 100 to each one of them
- Find their intersection : 
- Find their Set relationships 
- Find the NET sorted values using all elements in all 3 sets - Descending
- Use 2 sets to create a dictionary - Hint : ZIP
- Convert them to a list and then a tuple and access the last value

In [58]:
s1 = {1,2,3}
s2 = {2,3,4,5,6}
s3 = {1,2,3,4,5,6,7,8,9}

In [59]:
s1.add(100)
s2.add(100)
s3.add(100)

In [60]:
a={1,2,3,4,5,6} 
b={3,4,7,9,11} 
c={1,3,5,7,9} 
a.add(100) 
b.add(100) 
c.add(100)

In [61]:
b

{3, 4, 7, 9, 11, 100}

In [62]:
c

{1, 3, 5, 7, 9, 100}

In [63]:
s1.intersection(s2).intersection(s3)
s2.intersection(s1,s3)   #.intersection(s3)

{2, 3, 100}

In [64]:
s3.issuperset(s2) # s3 is the super set of both s1 and s2

True

In [65]:
s1.issubset(s2)

False

In [66]:
sorted(s1.union(s2,s3) , reverse = True)

[100, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
# Esha Bhatia Solution
desc_set = s1.union(s2,s3)
sorted(desc_set, reverse=True)

[100, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Zip Function

In [68]:
customers = ['c1','c2','c3']
customer_sales = [10000 , 200000 , 300000]
another_cust = [5,6,7]

In [69]:
[('c1',10000) , () , ()]
{'c1':10000 , }

{'c1': 10000}

In [70]:
list(zip(customers , customer_sales,another_cust))

[('c1', 10000, 5), ('c2', 200000, 6), ('c3', 300000, 7)]

In [71]:
dict(zip(customers , customer_sales ))

{'c1': 10000, 'c2': 200000, 'c3': 300000}

In [72]:
# latitude , longitude - map
# (lat, lon)

In [73]:
lat_ = [12.1234,75,90765]
lon_ = [-111.34, -96.4323]

In [74]:
list(zip(lat_, lon_))

[(12.1234, -111.34), (75, -96.4323)]

In [75]:
dict(zip([1,2,3],[s1,s2,s3]))

{1: {1, 2, 3, 100},
 2: {2, 3, 4, 5, 6, 100},
 3: {1, 2, 3, 4, 5, 6, 7, 8, 9, 100}}

In [76]:
tuple(list(s1.union(s2,s3)))[-1]

9

# Common Functions

- sum()
- min()
- max()
- len()

In [77]:
l1 = [1,2,3,4]
t1 = tuple([4,5,6,7])
s1 = {100,200,300}
d1 = {'a':1,'b':100,'c':500}

In [78]:
l1 = [1,2,3]
print(max(l1))
print(min(l1))
print(sum(l1))
print(len(l1))

3
1
6
3

In [79]:
sum(l1)/len(l1)

2.0

In [80]:
len(d1)

3

In [81]:
sum(s1)/len(s1)

200.0